<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Grace's Minilab</strong></h1>
            <h1>Addition series in Python</h1>
        </div>

        <!-- Input and Content -->
        <div class="jumbotron text-center row">
            <div class="col-md-6">
                <h3>Type in any number between 1 - 10</h3>
                <form id="fibForm" action="/minilab/addition" method="POST" >
                    <input name="series" id="series" type="number" min="1" max="100" >
                    <button>Go!</button>

            </div>

            <div class="col-md-6">
                <h3>Addition series for {{addition.series}}</h3>
                <!-- Number, List table -->
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">List</th>
                    </tr>
                    <tr>
                        <td>{{addition.number}}</td>
                        <td>{{addition.list}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Sequence -->
        <div class="col-12" style="text-align: left; ">
            <!-- Series -->
            <h3>Addition build up for series: {{addition.series}} number: {{addition.number}}</h3>
            <div class="overflow-auto" style="height: 200px">
                <!--
                {% for i in range(addition.series) %}
                <h5>{{addition.get_sequence(i)}}</h5>
                {% endfor %}
                -->
                {% for i in range(7) %}
                <h5>{{addition.get_sequence(i)}}</h5>
                {% endfor %}
            </div>
            <!-- Code -->
        </div>
    </div>
    <div id='prova' style="...">{{addition.list}}</div>


</div>
</div>
<style>
    table, td, th {
        border: 1px solid var(--dblue);
    }
    td, th {
        text-align:left;
    }
</style>
<script>
var minutesLabel = document.getElementById("minutes");
var secondsLabel = document.getElementById("seconds");
var totalSeconds = 0;
setInterval(setTime, 1000);

function setTime() {
++totalSeconds;
secondsLabel.innerHTML = pad(totalSeconds % 60);
minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
}

function pad(val) {
var valString = val + "";
if (valString.length < 2) {
return "0" + valString;
} else {
return valString;
}
}
</script>
{% endblock %}

