<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html lang="en">
<!-- Head, think of things that are more meta or format oriented -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <!-- Use this block for page specific meta data -->


</head>

<body style="font-family: gilroyLIGHT,serif; color: var(--gray);" >
<!-- Bootstrap Navigation Code -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/minilab/isai">Isai <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/minilab/addition">Grace Addition<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/minilab/gracebubble">Grace Bubblesort<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/minilab/sriya_bp">Sriya Factorial <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/minilab/sriya_bubble_sort">Sriya Bubble <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/ridhima_bubblesort">Ridhima Bubblesort <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/bubblesort/">Isai Bubble Sort</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!-- Navigation bar JavaScript support -->

</div>
</nav>

<!-- CONTENT Block, utilize this block for page specific content  -->
{% block content %}
{% endblock %}




</div>
</body>
</html>

